.breed-header {
    background-color: #2ca6eb1c;
}
.breed-header .puppy-breed-section .puppy-sub-head {
font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0;
    opacity: 1;
    line-height: 120%;
    text-align: center;
}

.breed-header .breed-description {
    font-size: 16px;
    padding: 15px 0;
}
.breed-header .puppy-breed-section .buttons-container {
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
}
.breed-header .puppy-breed-section .buttons-container .common-btn {
    background: #85B840 0 0 no-repeat padding-box;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    white-space: nowrap;
}
.consistent-space-image-container {
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.breed-header .puppy-breed-section .buttons-container .learn-btn{
    color:rgba(0,0,0,.5); ;
}
.consistent-space-image-container .foreground {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}
.consistent-space-image-container .background {
    filter: blur(5px);
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.breed-glance{
    padding-top: 64px;
}
.breed-glance .breed-at-a-glance h2.glance-gead {

    line-height: 120%;
  font-weight: 700;
    font-size: 48px;
    letter-spacing: 0;
    margin-bottom: 20px;

    margin-top: 32px;
    opacity: 1;
    text-align: center;
}
.breed-glance .breed-at-a-glance ul.glance-gead-list li {
    align-items: center;
    font-family: basic-sans,sans-serif;
    font-size: 1.5rem;
    padding: .5rem 0;
}
ul.font-awesome-bullets li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.breed-glance .breed-at-a-glance ul.glance-gead-list  li:before {
    color:rgb(133, 184, 64);
    align-self: center;
    content: '\2022 ';
    display: flex;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    margin-right: 1rem;
    text-decoration: inherit;
}
.breed-header .puppy-breed-section .puppy-right-content {
    padding: 50px 80px;
}
ul.font-awesome-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}
.breed-glance .breed-at-a-glance ul.glance-gead-list li strong {
    margin-right: .2rem;
}
.glance-puppy-img .img-container img {
    border-radius: 5px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
}

/*BREED STANDARD*/
.breed-standard .standard-desc h2{
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 4px;
    font-size: 2.125rem;

}
.breed-standard .standard-desc{
  padding:  8px 0;
}
/**COMMON BANNER**/
.consistent-space-image-container .common-inner-img {
    height: 100%;
    border-radius: 8px;
    max-height: 240px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.breed-header .puppy-breed-section .breed-right-common {
    padding:20px;
}
.common-breed-header{
    background-color: #fff;
}
/**ABOUT US**/
.title{
    letter-spacing: 1px;
    position: relative;
}
.inner-content .title h1 {
    font-size: 1.75rem;
    text-transform: none;
    margin-bottom: 1.5rem;
}
.content-img img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    padding: 12px 0;
}
.side-menu {
    margin-bottom: 2rem;
    background: #f0f0f0;
    border-radius: 0.25rem;
}
.side-menu ul {
    margin: 0;
    padding: 0;
}
.side-menu ul li.current a {
    color: #fff;
}
.side-menu ul li a {
    display: block;
    color: #111;
    text-decoration: none;
    outline: none;
    padding: 0.85rem 0.5rem 0.85rem 1rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.side-menu ul li.active {
    background: #1976AA ;

}
.side-menu ul li.active a {

color: #fff;
}

.side-menu ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}
.side-menu ul li:last-child {
    border-bottom: none;
}


@media (max-width: 992px)
{
    .glance-puppy-img .img-container {
        padding: 16px;
    }
    .breed-glance .breed-at-a-glance {
        padding: 100px 0;
    }

    .breed-header .puppy-breed-section .buttons-container .learn-btn{
        color: #fff;
    }
    .breed-standard .standard-desc h2{
font-size: 1.25rem;
    }
    
}

@media (min-width: 1024px)
{
    .breed-header .breed-image-container {
        height: 700px;
        width: 50%;
    }
    .breed-header .puppy-breed-section .puppy-sub-head{
        font-size: 3rem;
        text-align: left;
    }
    
}
@media (min-width: 576px)
{
    .breed-header .puppy-breed-section .buttons-container .find-btn {
        margin-right: 20px;
    }
    .breed-glance .breed-at-a-glance h2.glance-gead {
        text-align: left;
    }
}
@media (max-width: 576px)
{
   .small-image{
    display: none;
   }
}
@media (min-width: 1024px)
{
  
    .breed-header .puppy-breed-section .buttons-container {
        justify-content: left;
        padding: 0;
        position: relative;
        transform: unset;
    }
    .breed-glance.main .breed-at-a-glance h2.glance-gead {
        color: #3e5c76;

    }
}

